<main class="contenedor panel-administracion">
    <h1><%= nombrePagina %></h1>

    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class="btn btn-amarillo">Nueva Categoria</a>
        <a href="/nuevo-meeti" class="btn btn-azul">Nuevo Producto</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/cambiar-password" class="btn btn-verde">Cambiar Password</a>
        <a href="/imagen-perfil" class="btn btn-amarillo">Imagen Perfil</a>
    </div>


    
    <div class="seccion-admin">
        <div class="sec-title">
            <h3 class="m-text5 t-center">
                Mis categorias
            </h3>
        </div>
        <% if(grupos.length ) { %>
            
            <ul>
                <% grupos.forEach(grupo => { %>
                <li>
                    <div class="informacion-admin">
                        <h3><%= grupo.nombre %></h3>
                    </div>
                    <div class="acciones contenedor-botones">
                        <a href="/editar-grupo/<%= grupo.id %>" class="btn btn-verde">Editar</a>
                        <a href="#" class="btn btn-azul2">Ver</a>
                        <a href="/eliminar-grupo/<%= grupo.id %>" class="btn btn-rojo">Eliminar</a>
                    </div>
                </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No tienes categorias creadas</p>
        <% } %>
    </div>


    <div class="seccion-admin">
        <div class="sec-title">
            <h3 class="m-text5 t-center">
                Productos recientes
            </h3>
        </div>
      
        <% if(meeti.length > 0 ) { %>
        <ul>
            <% meeti.forEach(meet => { %>
            <li>
                <div class="informacion-admin">
                    <% moment.locale('es'); %>
                    <% const fecha = meet.fecha +' '+ meet.hora;  %>
                    <p class="fecha"><%= moment( fecha ).format('LLLL');  %> Horas</p>
                    <a href="/meeti/<%= meet.slug %>" target="_blank">
                        <h3><%= meet.titulo %></h3>
                    </a>
                    <!-- <small><%= meet.interesados.length %> Interesados</small> -->
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/editar-meeti/<%= meet.id %>" class="btn btn-verde">Editar</a>
                    <!-- <a href="/asistentes-meeti/<%= meet.id %>" class="btn btn-azul2">Asistentes</a> -->
                    <a href="/imagen-grupo/<%= meet.id %>" class="btn btn-azul2">Imagen</a>
                    <a href="/eliminar-meeti/<%= meet.id %>" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
            <p>Aún no tienes productos creados</p>
        <% } %>
    </div>


    <div class="seccion-admin">
        <div class="sec-title">
            <h3 class="m-text5 t-center">
                Productos Anteriores
            </h3>
        </div>
    
        <% if(anteriores.length > 0 ) { %>
        <ul>
            <% anteriores.forEach(meet => { %>
            <li>
                <div class="informacion-admin">
                    <% moment.locale('es'); %>
                    <% const fecha = meet.fecha +' '+ meet.hora;  %>
                    <p class="fecha"><%= moment( fecha ).format('LLLL');  %> Horas</p>
                    <h3><%= meet.titulo %></h3>
                    <!-- <small><%= meet.interesados.length %> Interesados</small> -->
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/editar-meeti/<%= meet.id %>" class="btn btn-verde">Editar</a>
                    <!-- <a href="/asistentes-meeti/<%= meet.id %>" class="btn btn-azul2">Asistentes</a> -->
                     <a href="/imagen-grupo/<%= meet.id %>" class="btn btn-azul2">Imagen</a>
                    <a href="/eliminar-meeti/<%= meet.id %>" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
            <p>No hay productos Anteriores</p>
        <% } %>
    </div>

</main>