<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meeti - <%- nombrePagina %>  </title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"
    integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
    crossorigin="">
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
        <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
        <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
        <link rel="stylesheet" type="text/css" href="/vendor/lightbox2/css/lightbox.min.css">
        <link rel="stylesheet" type="text/css" href="/css/util.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/css/trix.css">
	<link rel="stylesheet" href="/css/app.css">

<link rel="stylesheet" type="text/css" href="/vendor/owl-carousel/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/vendor/owl-carousel/owl.theme.css">
</head>
<body>
<script  src="/socket.io/socket.io.js"></script>

    	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-twitter"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>

				<span class="topbar-child1">
					Envío gratis para pedidos estándar de más de $ 100 USD
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
						fashe@example.com
					</span>

					<!-- <div class="topbar-language rs1-select2">
						<select class="selection-1" name="time">
							<option>USD</option>
							<option>EUR</option>
						</select>
					</div> -->
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="/" class="logo">
					<img src="/images/icons/logo.png" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
			            <% if(locals.usuario.id) { %>
                            <%- include partials/nav-autenticado.ejs %>
                        <% } else { %>
                            <%- include partials/nav-no-autenticado.ejs %>
                        <% } %>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					<a href="/deseo" class="header-wrapicon1 dis-block">
						<img src="/images/icons/heart.png" class="header-icon1" alt="ICON">
					</a>
					
					<span class="linedivide1"></span>
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>
					
					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
					
				
							
						<% if(stocks) { %> 
							<span class="header-icons-noti"><%= stocks %></span>
						<% } else {%>
						<span class="header-icons-noti">0</span>
						<% } %>
						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem" id="carrito">
								<% if(alg) { %> 
								<% alg.forEach(data => {  %>
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="/images/item-cart-01.jpg" alt="IMG">
									</div>
									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											<%= data.item.titulo %>
										</a>

										<span class="header-cart-item-info">
											<%= data.qty %> x $<%= data.item.valorMeeti %>
										</span>
									</div>
									</li>
							<% }) %>
								<% } else {%>
								<li class="header-cart-item">
								</li>
								<% } %>

							</ul>

					
							<% if(totalprice) { %> 
							<div class="header-cart-total" id="header-cart-total">
								Total: $<%= totalprice %>
							</div>
							<% } else {%>
								<div class="header-cart-total" id="header-cart-total">
								Total: $0
							</div>
								<% } %>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="/" class="logo-mobile">
				<img src="/images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						
						<% if(stocks) { %> 
							<span class="header-icons-noti"><%= stocks %></span>
						<% } else {%>
						<span class="header-icons-noti">0</span>
						<% } %>
						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
						
								<ul class="header-cart-wrapitem" id="carrito">
								<% if(alg) { %> 
								<% alg.forEach(data => {  %>
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="/images/item-cart-01.jpg" alt="IMG">
									</div>
									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											<%= data.item.titulo %>
										</a>

										<span class="header-cart-item-info">
											<%= data.qty %> x $<%= data.item.valorMeeti %>
										</span>
									</div>
									</li>
							<% }) %>
								<% } else {%>
								<li class="header-cart-item">
								</li>
								<% } %>

							</ul>

							<% if(totalprice) { %> 
							<div class="header-cart-total" id="header-cart-total">
								Total: $<%= totalprice %>
							</div>
							<% } else {%>
								<div class="header-cart-total" id="header-cart-total">
								Total: $0
							</div>
								<% } %>


							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu desactivo" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-twitter"></a>
							<!--<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>-->
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="/">Home</a>
						<ul class="sub-menu">
							<li><a href="index.html">Homepage V1</a></li>
							<li><a href="home-02.html">Homepage V2</a></li>
							<li><a href="home-03.html">Homepage V3</a></li>
						</ul>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a href="/cart">carrito</a>
					</li>

					<li class="item-menu-mobile">
						<a href="product.html">Sale</a>
					</li>

					<li class="item-menu-mobile">
						<a href="cart.html">Features</a>
					</li>

					<li class="item-menu-mobile">
						<a href="blog.html">Blog</a>
					</li>

					<li class="item-menu-mobile">
						<a href="about.html">About</a>
					</li>

					<li class="item-menu-mobile">
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</div>

	</header>
	
    <% if (locals.mensajes) { %>
       <% const categoria = Object.keys(locals.mensajes) %>
       <% if(categoria.length) { %>
            <% locals.mensajes[categoria].forEach(alerta => {  %>
                <div class="alertas">
                   <p class="alerta <%= categoria %>"> <%= alerta %></p>
                </div>
            <% }) %>
       <% } %>
    <% } %>

    <%- body %>




            <div class="span12" style="height: 130px;
			border: solid 1px #e8e8e8;
			box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
			padding-left: 97px;
			padding-right: 97px;">

              <div id="owl-demo" class="owl-carousel">
                <div class="item"><img src="/images/brand/brands_1.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/images/brand/brands_2.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/images/brand/brands_3.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/images/brand/brands_4.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/images/brand/brands_5.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/images/brand/brands_6.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/images/brand/brands_7.jpg" alt="Owl Image"></div>
                <div class="item"><img src="/images/brand/brands_8.jpg" alt="Owl Image"></div>
              </div>
              
            </div>
    


	<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-9">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					GET IN TOUCH
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="flex-m p-t-30">
						<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-twitter"></a>
						<!--<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a> -->
						<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Categories
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Men
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Women
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Dresses
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Sunglasses
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Search
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							About Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Contact Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Help
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Track Order
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Shipping
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							FAQs
						</a>
					</li>
				</ul>
			</div>

			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					Newsletter
				</h4>

				<form>
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
						<span class="effect1-line"></span>
					</div>

					<div class="w-size2 p-t-20">
						<!-- Button -->
						<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
							Subscribe
						</button>
					</div>

				</form>
			</div>
		</div>

		<div class="t-center p-l-15 p-r-15">
			<a href="#">
				<img class="h-size2" src="/images/icons/paypal.png" alt="IMG-PAYPAL">
			</a>

			<a href="#">
				<img class="h-size2" src="/images/icons/visa.png" alt="IMG-VISA">
			</a>

			<a href="#">
				<img class="h-size2" src="/images/icons/mastercard.png" alt="IMG-MASTERCARD">
			</a>

			<a href="#">
				<img class="h-size2" src="/images/icons/express.png" alt="IMG-EXPRESS">
			</a>

		<!--	<a href="#">
				<img class="h-size2" src="images/icons/discover.png" alt="IMG-DISCOVER">
			</a> -->

			<div class="t-center s-text8 p-t-20">
				Copyright 2011 - 2019 ePayco.co . Todos los derechos reservados
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>
		<!-- Modal Video 01-->
		<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">

			<div class="modal-dialog" role="document" data-dismiss="modal">
				<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>
	
				<div class="wrap-video-mo-01">
					<div class="w-full wrap-pic-w op-0-0"><img src="images/icons/video-16-9.jpg" alt="IMG"></div>
					<div class="video-mo-01">
						<iframe src="https://www.youtube.com/embed/Nt8ZrWY2Cmk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>

	
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
	<script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="/js/slick-custom.js"></script>
	<script type="text/javascript" src="/vendor/countdowntime/countdowntime.js"></script>
	<script type="text/javascript" src="/vendor/lightbox2/js/lightbox.min.js"></script>
	<script type="text/javascript" src="/vendor/sweetalert/sweetalert.min.js"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			// if(localStorage.getItem("orden")){
			// 	$('.header-icons-noti').html(`<b>${localStorage.getItem("orden")}</b>` );
			// }
			const carrito = document.getElementById('carrito');
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();

			$(this).on('click', function(){
				console.log('click en block2-btn-addcart');
				var path =$(this).parent().parent().parent().find('.block2-name')[0].pathname;
			var price_ = $(this).parent().parent().parent().find('.block2-price').html();	
				var url = $(this).parent().prevObject[0].dataset.id;
			//	var url_completed=window.location.href+url;
				var url_completed=window.location.origin+url;			
				const datos = {
					url_completed
    			}
			$.ajax({
            type:"get",
            url: url_completed,
            data:datos,
            beforeSend:function(){
			const row = document.createElement('li');
					row.classList.add('header-cart-item');
			        row.innerHTML = `
									<div class="header-cart-item-img">
										<img src="/images/item-cart-01.jpg" alt="IMG">
									</div>
									<div class="header-cart-item-txt">
										<a href="${path}" class="header-cart-item-name">
											${nameProduct}
										</a>
										<span class="header-cart-item-info">
											1 x $ ${price_}
										</span>
									</div>
			        `;
        carrito.appendChild(row);
				swal(nameProduct, "agregador al carrito!", "success");
			}, success: function(datos){  
				// localStorage.setItem("orden", datos.data.totalQty);
				//console.log(datos.data.items, typeof(datos.data.items));
				for (let value of Object.values(datos.data.items)) {
					// console.log(value.qty);
					// console.log(value);
					}
				$('.header-icons-noti').html(`<b>${datos.data.totalQty}</b>` );
				$('.header-cart-total').html(`<b>$ ${datos.data.totalPrice}</b>` );
			}
		})
			
			});
		});



		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				var url = $(this).parent()[0].dataset.id;
				var url_completed=window.location.origin+url;
				const datos = {
					url_completed
				}
				console.log('clic add wish')
				//swal(nameProduct, "is added to wishlist !", "success");
				$.ajax({
					type:"get",
					url: url_completed,
					data:datos,
					beforeSend:function(){
					swal(nameProduct, "agregado a lista de deseos!", "success");
					},
					success: function(datos){ 
					
						console.log(datos.data.totalQty)
				
					}
			});
			})
		});




		$('.btn-addcart-product-detail').each(function(){
	const carrito = document.getElementById('carrito');
			var nameProduct = $('.product-detail-name').html();
			var precio = $('.m-text17').html();
			$(this).on('click', function(){
				console.log('btn-addcart-product-detail');
				//var path =$(this).parent().parent().parent().find('.block2-name');
				var path =$(this).parent().baseURI;
			
			
				var url = $(this).parent().prevObject[0].dataset.id;
				var url_completed=window.location.origin+url;
				const datos = {
					url_completed
    			}
				$.ajax({
            type:"get",
            url: url_completed,
            data:datos,
            beforeSend:function(){
				const row = document.createElement('li');
					row.classList.add('header-cart-item');
			        row.innerHTML = `
									<div class="header-cart-item-img">
										<img src="/images/item-cart-01.jpg" alt="IMG">
									</div>
									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											${nameProduct}
										</a>
										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
			        `;
       //carrito.appendChild(row);
				swal(nameProduct, "agregador al carrito!", "success");
			}, success: function(datos){  
				// localStorage.setItem("orden", datos.data.totalQty);
				console.log(datos.data.totalQty)
				$('.header-icons-noti').html(`<b>${datos.data.totalQty}</b>` );
				
				// setTimeout(function(){ location.href=window.location.origin+"/cart"; }, 1000);
			}
		})
			});
		});


	</script>


    <script src="/js/trix.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js"
    integrity="sha512-tyPum7h2h36X52O2gz+Pe8z/3l+Y9S1yEUscbVs5r5aEY5dFmP1WWRY/WLLElnFHa+k1JBQZSCDGwEAnm2IxAQ=="
    crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"
    integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A=="
	crossorigin=""></script>
	<script src="/js/paginator.js"></script>
	<script type="text/javascript">
		window.addEventListener("load", function () {
		var list = document.getElementById("list");
			paginator({
				get_rows: function () {
					return list.getElementsByClassName("col-sm-12 col-md-6 col-lg-3 p-b-50");
				},
				box: document.getElementById("list_index"),
				active_class: "color_page"
			});
		}, false);
		</script>

	  <script src="/dist/main.bundle.js"></script>
	  <script src="https://checkout.epayco.co/epayco.min.js"></script>
     <script src="/dist/asistencia.bundle.js"></script> 
	 <script src="/vendor/owl-carousel/owl.carousel.js"></script>
<script src="/js/tool.js"></script>
  <!-- Demo -->

  <style>
    #owl-demo .item{
		height: 130px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    /* padding-left: 97px;
    padding-right: 97px; */
    }
    #owl-demo .item img{
		display:block;
	margin:auto;
	padding-top: 40px;
    }
    </style>

    <script>
    $(document).ready(function() {
		console.log('owl')
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
    </script>
<!-- <script src="/js/main.js"></script> -->
<script src="/dist/meeti.bundle.js"></script>
<script>

		$(document).ready(function(){
//Menu Toggle Script
$("#menu-toggle").click(function(e) {
e.preventDefault();
$("#wrapper").toggleClass("toggled");
});

// For highlighting activated tabs
$("#tab1").click(function () {
$(".tabs").removeClass("active1");
$(".tabs").addClass("bg-light");
$("#tab1").addClass("active1");
$("#tab1").removeClass("bg-light");
});
$("#tab2").click(function () {
$(".tabs").removeClass("active1");
$(".tabs").addClass("bg-light");
$("#tab2").addClass("active1");
$("#tab2").removeClass("bg-light");
});
$("#tab3").click(function () {
$(".tabs").removeClass("active1");
$(".tabs").addClass("bg-light");
$("#tab3").addClass("active1");
$("#tab3").removeClass("bg-light");
});
})
	</script>
	
</body>
</html>