<div class="encabezado-evento">

    <div class="contenedor">

        <div class="resumen-evento">
            <h1><%= meeti.titulo %></h1>
            <div class="info-autor">
                <div class="imagen">
                    <% if(meeti.usuario.imagen ) { %> 
                        <img src="/uploads/perfiles/<%= meeti.usuario.imagen %>">
                    <% } %>
                </div>
                <div class="informacion">
                    <p>Organizado por:</p>
                    <p class="autor">
                        <a href="/usuarios/<%= meeti.usuario.id %>"><%= meeti.usuario.nombre %> </a> Creador de: 
						<a href="/grupos/<%= meeti.grupo.id %>"><%= meeti.grupo.nombre %></a>
						<!-- <br> sitio web:
						<a href="/grupos/<%= meeti.grupo.url %>"><%= meeti.grupo.url %></a> -->
                    </p>
                </div>
            </div><!--.info-autor-->
        </div><!--resumen-evento-->
        <!-- <div id="snoA" class="exito" data-alert="succes" 
        style="    position: absolute;
        z-index: 1400;
        right: 50%;
        margin: 0px auto;
        color: white;
        height: 29px;
        width: 300px;
        text-align: center;
        ">Procesando...</div> -->
      
    </div>
</div>


    <!-- Product Detail -->
 
	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
			<div class="w-size13 p-t-30 respon5">
				<div class="wrap-slick3 flex-sb flex-w">
					<div class="wrap-slick3-dots"></div>
                    <% if(meeti.imagen ) { %>
					<div class="slick3">
						<div class="item-slick3" data-thumb="/uploads/productos/<%= meeti.imagen %>">
							<div class="wrap-pic-w">
                                <img src="/uploads/productos/<%= meeti.imagen %>" alt="IMG-PRODUCT">
							</div>
                        </div>
                        
                        <% } else { %>
                            <div class="slick3">
                                <div class="item-slick3" data-thumb="/images/thumb-item-01.jpg">
                                    <div class="wrap-pic-w">
                                        <img src="/uploads/productos/<%= meeti.imagen %>" alt="IMG-PRODUCT">
                                    </div>
                                </div>
                            <% } %>

                            <% if(meeti.imagen1 ) { %>
						<div class="item-slick3" data-thumb="/uploads/productos/<%= meeti.imagen1 %>">
							<div class="wrap-pic-w">
                                <img src="/uploads/productos/<%= meeti.imagen1 %>" alt="IMG-PRODUCT">
								
							</div>
                        </div>
                        <% } else { %>
                            <!-- <div class="item-slick3" data-thumb="/images/product-detail-02.jpg">
                                <div class="wrap-pic-w">
                                    <img src="/images/product-detail-02.jpg" alt="IMG-PRODUCT">
                                    
                                </div>
                            </div> -->
                            <% } %>


                            <% if(meeti.imagen2 ) { %>
						<div class="item-slick3" data-thumb="/uploads/productos/<%= meeti.imagen2 %>">
							<div class="wrap-pic-w">
                                <img src="/uploads/productos/<%= meeti.imagen2 %>" alt="IMG-PRODUCT">
							</div>
                        </div>
                        <% } else { %>
                            <!-- <div class="item-slick3" data-thumb="/images/product-detail-03.jpg">
                                <div class="wrap-pic-w">
                                    <img src="/images/product-detail-03.jpg" alt="IMG-PRODUCT">
                                </div>
                            </div> -->
                            <% } %>


					</div>
                </div>
                asassssssssssssssssssssss
			</div>

			<div class="w-size14 p-t-30 respon5">
				<h4 class="product-detail-name m-text16 p-b-13">
                    <%- meeti.titulo %>
				</h4>
			
                <span class="m-text17">
					$ <%- meeti.valorMeeti %>
				</span>
				<hr>
                <div class="pregunta-asistencia">
                    <% if(usuario.id) { %>
                        <h5 class="m-text20 p-b-24">
                            intercambiar
                        </h5>
                   
                   <center> <form action="/confirmar-asistencia/<%= meeti.slug %>" id="confirmar-asistencia">
                            <% if( usuario.id ) {  %>
                                <input type="hidden" id="accion" value="cancelar">
                                <!-- <input type="submit" class="btn btn-rojo" value="Cancelar"> -->
								<div  class="w-size2 p-t-20" id="btn btn-rojo" >
									<!-- Button -->
									<button  type="submit" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" value="Cancelar">
										Cambair
									</button>
								</div>
                            <% } else { %>
                                <input type="hidden" id="accion" value="confirmar">
                                <input type="submit" class="btn btn-azul" value="Si">
                                
                            <% } %>
                            <div id="mensaje"></div>
                        </form></center>   
                </div>
<hr>
<center><h5 class="m-text20 p-b-24">
   Comprar
</h5></center>
			

				<!--  -->
				<div class="p-t-33 p-b-60">
					<div class="flex-m flex-w p-b-10">
						<div class="s-text15 w-size15 t-center">
							Size
						</div>

						<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
							<select class="selection-2" name="size">
								<option>Choose an option</option>
								<option>Size S</option>
								<option>Size M</option>
								<option>Size L</option>
								<option>Size XL</option>
							</select>
						</div>
					</div>

					<div class="flex-m flex-w">
						<div class="s-text15 w-size15 t-center">
							Color
						</div>

						<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
							<select class="selection-2" name="color">
								<option>Choose an option</option>
								<option>Gray</option>
								<option>Red</option>
								<option>Black</option>
								<option>Blue</option>
							</select>
						</div>
					</div>

					<div class="flex-r-m flex-w p-t-10">
						<div class="w-size16 flex-m flex-w" data-id="/add-to-cart/<%= meeti.id %>">
							<div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
								<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
									<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
								</button>

								<input class="size8 m-text18 t-center num-product" type="number" name="num-product" value="1">

								<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
									<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
								</button>
							</div>

							<div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10 " data-id="/add-to-cart/<%= meeti.id %>">
								<!-- Button -->
								<button type ="submit" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
									Comprar
								</button>
                            </div>
        
      
						</div>
					</div>
				</div>

				<!--  -->
				<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Description
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
                            <%- meeti.descripcion %>
						</p>
					</div>
				</div>

				<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Additional information
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
                            <%- meeti.descripcion %>
						</p>
					</div>
				</div>

				<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Reviews (0)
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>
                    
					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
							<%- meeti.descripcion %>
						</p>
                    </div>
                                                                 
               
                    <% } else { %>
                        
                        <p>Inicia sesión para continuar</p>
   
                    <% } %>    
				</div>
			</div>
        </div>
  
    </div>







<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <!-- <div class="descripcion">
                <% if(meeti.grupo.imagen) { %>
                    <img src="/uploads/grupos/<%= meeti.grupo.imagen %>">
                <% } %>
                <%- meeti.descripcion %>
            </div> -->
            <!--.descripcion-->

            <!-- <div class="asistentes">
                <div class="titulo">
                    <h3><%= meeti.interesados.length %> Asistentes</h3>
                    <a href="/asistentes/<%= meeti.slug %>">Ver Todos</a>
                </div>
            </div> -->
            <!--asistentes-->

            <div class="comentarios">
                <h2>Comentarios</h2>
                <% if(comentarios.length > 0 ) { %>
                    <% comentarios.forEach(comentario => { %>
                        <div class="comentario">
                            <div class="imagen">
                                <% if(comentario.usuario.imagen) { %>
                                    <img src="/uploads/perfiles/<%= comentario.usuario.imagen%>"> 
                                <% } %>
                            </div>
                            <div class="texto">
                                <p><%= comentario.mensaje %></p>
                                <p>Escrito por: 
                                    <a href="/usuarios/<%= comentario.usuario.id %>">
                                        <%= comentario.usuario.nombre %>
                                    </a>
                                </p>

                                <% if(comentario.usuarioId === usuario.id || meeti.usuarioId === usuario.id ) { %>
                                    <form action="/eliminar-comentario" method="POST" class="eliminar-comentario">
                                        <input type="hidden" name="idComentario" value="<%= comentario.id %>">
                                        <input type="submit" value="Eliminar" class="btn btn-azul">
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>

                <% } else { %>
                    <p>No hay comentarios aún</p>
                <% } %>
          

                <!--formulario comentarios-->
                <% if(usuario.id) { %>
                    <form action="/meeti/<%= meeti.id %>" method="POST" class="default-form comentarios">
                        <legend>Agrega un comentario</legend>
                        <div class="campo">
                            <label>Comentario</label>
                            <textarea name="comentario"></textarea>
                        </div>
                        <div class="campo enviar">
                            <input type="submit" value="Enviar" class="btn btn-rosa">
                        </div>
                    </form>
                <% } else {  %>
                    <p>Inicia Sesión para Agregar un Comentario</p>
                <% } %>
                <!--/formulario-comentarios-->

            </div><!--.comentarios-->
        </div><!--informacion-evento-->

        <aside class="informacion">
            <% if(usuario.id) { %>
            <div class="fecha">
                <% moment.locale('es'); %>
                <% const fecha = meeti.fecha + ' ' + meeti.hora; %>
                <p><%= moment(fecha).format('LLLL') %> Horas</p>
            </div>
            <div id="messagesCHat"></div>
            <div class="ubicacion">
                <p> <%= meeti.direccion %>, <%= meeti.ciudad %>, <%= meeti.estado %>, <%= meeti.pais %> </p>
            </div>
            <% } else {  %>
                <p>Inicia Sesión para Chatiar con el dueño del producto</p>
            <% } %>
            <!--Mapa de ubucacion-->
                
        </aside>
    </div>

</main>

	<!-- Relate Product -->
	<section class="relateproduct bgwhite p-t-45 p-b-138">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					Related Products
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">
                    <% if (meetisDos.length > 0 ) { %>
                        <% meetisDos.forEach(meetisDos => { %>
                            <%- include partials/card-meetidos.ejs %>
                        <% }) %>
                        <% } else { %>
                            <p>No hay productos en esta categoria</p>
                        <% } %>
					

					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative" style="height: 300px;">
								<img src="images/item-03.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
									Denim jacket blue
								</a>

								<span class="block2-price m-text6 p-r-5">
									$92.50
								</span>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative"style="height: 300px;">
								<img src="images/item-05.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
									Coach slim easton black
								</a>

								<span class="block2-price m-text6 p-r-5">
									$165.90
								</span>
							</div>
						</div>
					</div>

					<div class="item-slick2 p-l-15 p-r-15" style="height: 300px;">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
								<img src="images/item-07.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
											Add to Cart
										</button>
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
									Frayed denim shorts
								</a>

								<span class="block2-oldprice m-text7 p-r-5">
									$29.50
								</span>

								<span class="block2-newprice m-text8 p-r-5">
									$15.90
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>